<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>back_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{0,68},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>black_button_large.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,45}</string>
                <key>spriteSourceSize</key>
                <string>{123,45}</string>
                <key>textureRect</key>
                <string>{{0,23},{123,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>black_button_medium.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,45}</string>
                <key>spriteSourceSize</key>
                <string>{89,45}</string>
                <key>textureRect</key>
                <string>{{123,23},{89,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>desc_spell_panel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{255,153}</string>
                <key>spriteSourceSize</key>
                <string>{255,153}</string>
                <key>textureRect</key>
                <string>{{128,196},{255,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>desc_unit_panel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{255,298}</string>
                <key>spriteSourceSize</key>
                <string>{255,298}</string>
                <key>textureRect</key>
                <string>{{164,677},{255,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hp_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,11}</string>
                <key>spriteSourceSize</key>
                <string>{127,11}</string>
                <key>textureRect</key>
                <string>{{0,0},{127,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hp_bar_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,11}</string>
                <key>spriteSourceSize</key>
                <string>{133,11}</string>
                <key>textureRect</key>
                <string>{{127,0},{133,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hp_bar_for.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,12}</string>
                <key>spriteSourceSize</key>
                <string>{134,12}</string>
                <key>textureRect</key>
                <string>{{133,11},{134,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_beach.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,164}</string>
                <key>spriteSourceSize</key>
                <string>{164,164}</string>
                <key>textureRect</key>
                <string>{{181,349},{164,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,164}</string>
                <key>spriteSourceSize</key>
                <string>{164,164}</string>
                <key>textureRect</key>
                <string>{{345,349},{164,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_desert.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,164}</string>
                <key>spriteSourceSize</key>
                <string>{164,164}</string>
                <key>textureRect</key>
                <string>{{0,513},{164,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_hills.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,164}</string>
                <key>spriteSourceSize</key>
                <string>{164,164}</string>
                <key>textureRect</key>
                <string>{{164,513},{164,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_mountains.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,164}</string>
                <key>spriteSourceSize</key>
                <string>{164,164}</string>
                <key>textureRect</key>
                <string>{{328,513},{164,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_transparent_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,164}</string>
                <key>spriteSourceSize</key>
                <string>{164,164}</string>
                <key>textureRect</key>
                <string>{{0,677},{164,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>large_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,45}</string>
                <key>spriteSourceSize</key>
                <string>{123,45}</string>
                <key>textureRect</key>
                <string>{{212,23},{123,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>medium_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,45}</string>
                <key>spriteSourceSize</key>
                <string>{89,45}</string>
                <key>textureRect</key>
                <string>{{335,23},{89,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mp_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,11}</string>
                <key>spriteSourceSize</key>
                <string>{127,11}</string>
                <key>textureRect</key>
                <string>{{260,0},{127,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mp_bar_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,11}</string>
                <key>spriteSourceSize</key>
                <string>{133,11}</string>
                <key>textureRect</key>
                <string>{{0,11},{133,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mp_bar_for.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,12}</string>
                <key>spriteSourceSize</key>
                <string>{134,12}</string>
                <key>textureRect</key>
                <string>{{267,11},{134,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>small_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,45}</string>
                <key>spriteSourceSize</key>
                <string>{69,45}</string>
                <key>textureRect</key>
                <string>{{424,23},{69,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weather_cold.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{80,68},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weather_drought.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{208,68},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weather_hot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{336,68},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weather_panel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,153}</string>
                <key>spriteSourceSize</key>
                <string>{181,153}</string>
                <key>textureRect</key>
                <string>{{0,349},{181,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weather_rain.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{0,196},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui.png</string>
            <key>size</key>
            <string>{509,975}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3093e149f1f4549fec22553a0a46f339:1ee6bf5bb7bad3e40f285b4d6c6bfe43:e489eb72a1dac3e9a97caaf8aad1ac42$</string>
            <key>textureFileName</key>
            <string>ui.png</string>
        </dict>
    </dict>
</plist>
