<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>back_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{401,45},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>desc_panel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{255,153}</string>
                <key>spriteSourceSize</key>
                <string>{255,153}</string>
                <key>textureRect</key>
                <string>{{0,581},{255,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hp_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,11}</string>
                <key>spriteSourceSize</key>
                <string>{127,11}</string>
                <key>textureRect</key>
                <string>{{69,0},{127,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hp_bar_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,11}</string>
                <key>spriteSourceSize</key>
                <string>{133,11}</string>
                <key>textureRect</key>
                <string>{{323,0},{133,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hp_bar_for.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,12}</string>
                <key>spriteSourceSize</key>
                <string>{134,12}</string>
                <key>textureRect</key>
                <string>{{133,45},{134,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_beach.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,164}</string>
                <key>spriteSourceSize</key>
                <string>{164,164}</string>
                <key>textureRect</key>
                <string>{{0,253},{164,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,164}</string>
                <key>spriteSourceSize</key>
                <string>{164,164}</string>
                <key>textureRect</key>
                <string>{{164,253},{164,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_desert.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,164}</string>
                <key>spriteSourceSize</key>
                <string>{164,164}</string>
                <key>textureRect</key>
                <string>{{328,253},{164,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_hills.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,164}</string>
                <key>spriteSourceSize</key>
                <string>{164,164}</string>
                <key>textureRect</key>
                <string>{{0,417},{164,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_mountains.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,164}</string>
                <key>spriteSourceSize</key>
                <string>{164,164}</string>
                <key>textureRect</key>
                <string>{{164,417},{164,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_transparent_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,164}</string>
                <key>spriteSourceSize</key>
                <string>{164,164}</string>
                <key>textureRect</key>
                <string>{{328,417},{164,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mp_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,11}</string>
                <key>spriteSourceSize</key>
                <string>{127,11}</string>
                <key>textureRect</key>
                <string>{{196,0},{127,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mp_bar_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,11}</string>
                <key>spriteSourceSize</key>
                <string>{133,11}</string>
                <key>textureRect</key>
                <string>{{0,45},{133,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mp_bar_for.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,12}</string>
                <key>spriteSourceSize</key>
                <string>{134,12}</string>
                <key>textureRect</key>
                <string>{{267,45},{134,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>small_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,45}</string>
                <key>spriteSourceSize</key>
                <string>{69,45}</string>
                <key>textureRect</key>
                <string>{{0,0},{69,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>units_view_panel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{255,153}</string>
                <key>spriteSourceSize</key>
                <string>{255,153}</string>
                <key>textureRect</key>
                <string>{{255,581},{255,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weather_cold.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{0,125},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weather_drought.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{128,125},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weather_hot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{256,125},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weather_rain.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{384,125},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui.png</string>
            <key>size</key>
            <string>{512,734}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4460de944afab148110b5aa176a59ea1:333b4840cb1c3e40825eba2d67dada19:e489eb72a1dac3e9a97caaf8aad1ac42$</string>
            <key>textureFileName</key>
            <string>ui.png</string>
        </dict>
    </dict>
</plist>
