<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ogre.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,77}</string>
                <key>spriteSourceSize</key>
                <string>{68,77}</string>
                <key>textureRect</key>
                <string>{{0,0},{68,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>units.png</string>
            <key>size</key>
            <string>{68,77}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fabeca8caf6284a064e43f3430b3d0bc:dbed211c9dde8aa34a48bf26145b59c7:80809bd6d8190eec449f2188311779b0$</string>
            <key>textureFileName</key>
            <string>units.png</string>
        </dict>
    </dict>
</plist>
